<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.FlyingSparrow.YiSmartCloud.serve.mapper.BillDetailMapper">
    
    <resultMap type="BillDetail" id="BillDetailResult">
        <result property="id"    column="id"    />
        <result property="elderId"    column="elder_id"    />
        <result property="billMonth"    column="bill_month"    />
        <result property="billType"    column="bill_type"    />
        <result property="amount"    column="amount"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payTime"    column="pay_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectBillDetailVo">
        select id, elder_id, bill_month, bill_type, amount, pay_status, pay_time, create_time, update_time, is_deleted from bill_detail
    </sql>

    <select id="selectBillDetailList" parameterType="BillDetail" resultMap="BillDetailResult">
        <include refid="selectBillDetailVo"/>
        <where>  
            <if test="elderId != null "> and elder_id = #{elderId}</if>
            <if test="billMonth != null  and billMonth != ''"> and bill_month = #{billMonth}</if>
            <if test="billType != null "> and bill_type = #{billType}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="payStatus != null "> and pay_status = #{payStatus}</if>
        </where>
    </select>
    
    <select id="selectBillDetailById" parameterType="Long" resultMap="BillDetailResult">
        <include refid="selectBillDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertBillDetail" parameterType="BillDetail" useGeneratedKeys="true" keyProperty="id">
        insert into bill_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elderId != null">elder_id,</if>
            <if test="billMonth != null and billMonth != ''">bill_month,</if>
            <if test="billType != null">bill_type,</if>
            <if test="amount != null">amount,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elderId != null">#{elderId},</if>
            <if test="billMonth != null and billMonth != ''">#{billMonth},</if>
            <if test="billType != null">#{billType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateBillDetail" parameterType="BillDetail">
        update bill_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="elderId != null">elder_id = #{elderId},</if>
            <if test="billMonth != null and billMonth != ''">bill_month = #{billMonth},</if>
            <if test="billType != null">bill_type = #{billType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBillDetailById" parameterType="Long">
        delete from bill_detail where id = #{id}
    </delete>

    <delete id="deleteBillDetailByIds" parameterType="String">
        delete from bill_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>