<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.FlyingSparrow.YiSmartCloud.serve.mapper.ElderInfoMapper">
    
    <resultMap type="ElderInfo" id="ElderInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="idCard"    column="id_card"    />
        <result property="age"    column="age"    />
        <result property="gender"    column="gender"    />
        <result property="birthday"    column="birthday"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="address"    column="address"    />
        <result property="portraitImg"    column="portrait_img"    />
        <result property="idCardPortraitImg"    column="id_card_portrait_img"    />
        <result property="idCardNationalEmblemImg"    column="id_card_national_emblem_img"    />
        <result property="healthStatus"    column="health_status"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectElderInfoVo">
        select id, name, id_card, age, gender, birthday, contact_phone, address, portrait_img, id_card_portrait_img, id_card_national_emblem_img, health_status, status, create_time, update_time, is_deleted from elder_info
    </sql>

    <select id="selectElderInfoList" parameterType="ElderInfo" resultMap="ElderInfoResult">
        <include refid="selectElderInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="healthStatus != null  and healthStatus != ''"> and health_status = #{healthStatus}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectElderInfoById" parameterType="Long" resultMap="ElderInfoResult">
        <include refid="selectElderInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertElderInfo" parameterType="ElderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into elder_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="age != null">age,</if>
            <if test="gender != null">gender,</if>
            <if test="birthday != null">birthday,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="address != null">address,</if>
            <if test="portraitImg != null and portraitImg != ''">portrait_img,</if>
            <if test="idCardPortraitImg != null and idCardPortraitImg != ''">id_card_portrait_img,</if>
            <if test="idCardNationalEmblemImg != null and idCardNationalEmblemImg != ''">id_card_national_emblem_img,</if>
            <if test="healthStatus != null">health_status,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="age != null">#{age},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="address != null">#{address},</if>
            <if test="portraitImg != null and portraitImg != ''">#{portraitImg},</if>
            <if test="idCardPortraitImg != null and idCardPortraitImg != ''">#{idCardPortraitImg},</if>
            <if test="idCardNationalEmblemImg != null and idCardNationalEmblemImg != ''">#{idCardNationalEmblemImg},</if>
            <if test="healthStatus != null">#{healthStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateElderInfo" parameterType="ElderInfo">
        update elder_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="portraitImg != null">portrait_img = #{portraitImg},</if>
            <if test="idCardPortraitImg != null">id_card_portrait_img = #{idCardPortraitImg},</if>
            <if test="idCardNationalEmblemImg != null">id_card_national_emblem_img = #{idCardNationalEmblemImg},</if>
            <if test="healthStatus != null">health_status = #{healthStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElderInfoById" parameterType="Long">
        delete from elder_info where id = #{id}
    </delete>

    <delete id="deleteElderInfoByIds" parameterType="String">
        delete from elder_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>